[2020-10-22 17:36] tommylees112 opened #8 "Missing Data entering the training process"
Hi guys!

I seem to be getting missing data in the `.h5` files.

It might be because of an older version of CAMELS GB data but i seem to remember i did have to add some extra checks to find `nan` data to the **multiple_forcing** directory. I will dig

# The problem

I ran:
[code]
With the config file defined [here: ](https://github.com/tommylees112/neuralhydrology/blob/master/configs/aws_lstm_all.

[2020-10-22 18:33] kratzert commented on #8
Hi Tommy,

the reason why you get this error is, because you are including attributes that are not defined for every basin. That is basin `18011` and `26006` do not have an `elev_mean` and `dpsbar`, which you both include in the `camels_attributes` list. Excluding those two basins from your basin file (I assume it is [this](https://github.com/tommylees112/neuralhydrology/blob/master/data/camels_gb

[2020-10-22 19:11] tommylees112 commented on #8
Awesome change. Quick questions:
- How did you speed up the calculations of the training data so much? That used to take significantly longer in the old repo!

This is great behaviour could you point me to where that is?

# On the error

The other option is the same behaviour as before (or as when there are some missing targets as above), where you auto-magically exclude those basins and tell the

[2020-10-22 19:21] kratzert commented on #8
We did a couple of changes. Most importantly, we do not reshape anymore to [number of samples, sequence length, input features] in the preprocessing but store the raw 2D array per basin (shape [time steps, features]). During training we slice single input sequences from those 2D arrays. The details are a bit tough to explain here in an answer but if you are really interested, all this happens in t

[2020-10-23 09:11] #8 closed

[2020-10-23 09:14] tommylees112 commented on #8
I don't know if this is related to the missing data but I seem to now have a different error message to do with different tensor sizes:

[code]

From the lines [here:](https://github.com/neuralhydrology/neuralhydrology/blob/4679df35c21f0077f1a818fa257431e7ae8a7718/neuralhydrology/training/basetrainer.py#L273)
[code]

I am guessing that you didn't get this error when you found that I was missing da

[2020-10-23 09:18] kratzert commented on #8
No I didn't get that error but was also not training for a full epoch. Can you make sure to update your version to the recently (2 mins ago) pushed version and retry. If this error persists, can you link me to your config/basin file that you used with this run?

[2020-10-23 09:18] tommylees112 commented on #8
Of course thanks!

[2020-10-23 09:27] kratzert commented on #8
I just trained an LSTM for a full epoch and had no troubles. Did that happen during training or validation? If your get any error again, please post the content of the `output.log`, so it is easy to identify at which step the error occurred.

[2020-10-23 09:34] tommylees112 commented on #8
[code]

[2020-10-23 09:43] kratzert commented on #8
No, these basins are ignored (they were ignored before as well, this is just a notification so that you are aware that these basins do  not contain training data.

Okay with your config and basin text file I get the same error, Had no problem with the full basin list (excluding the two basins from above) and the config from yesterday. I will have a look at it

[2020-10-23 09:44] tommylees112 commented on #8
Glad that you get the same error! Thanks for your help Freddy!

[2020-10-23 09:50] kratzert commented on #8
Okay I think I found the issue. I am working on it, give me a sec

[2020-10-23 10:09] kratzert commented on #8
In the meantime: This only effects the NSE loss. You should be able to train safely with the MSEloss

[2020-10-23 10:14] tommylees112 commented on #8
How did you find the error? I am just intrigued because I tried googling / playing with the debugger and couldn't really understand where to look! Thanks Freddy for your help

[2020-10-23 10:21] kratzert commented on #8
That is nothing you can find on Google. The message stated that the dataloader tried to stack arrays of shape [1,1] with an array of shape [1,8]. Since it is "my" code, I know where the only place is that this can happen.

The problem is:
- CAMELS GB has basins that start with the same numbers (e.g. '4001', '40010', '40011' etc.)
- We do allow for split training periods (e.g. you can define a list

[2020-10-23 13:13] kratzert commented on #8
@tommylees112 Check the current master version please

[2020-10-23 14:01] tommylees112 commented on #8
awesome thanks for the updates freddy!

[2020-10-29 15:23] jmframe opened #12 "Forcings are mandatory in config"
Hi Freddy,

I see that defining forcing product/s is now mandatory in the configuration file. I was previously bringing in new forcing data through _load_basin_data, but I assume that is bad practice, and that I should define a new forcing product. Does that sound correct?

Thanks
Jonathan

[2020-10-29 15:32] kratzert commented on #12
Hi Jonathan,
`forcings` is only a mandatory config argument if you set `dataset` to either `camels_us` or `hourly_camels_us`. This is the only places, where `cfg.forcings` is queried from the `Config` object.

Your approach sounds right to me (but it is the same as previously): If you have multiple forcing products for one data set, then you actually load this data in the `_load_basin_data` method

[2020-10-29 15:35] jmframe commented on #12
Yes that does. Thank you!

[2020-10-29 15:38] kratzert commented on #12
Great! I'll close this issue then. Feel free to re-open if you have a follow-up question or open another issue if you have any other question.

[2020-10-29 15:38] #12 closed

[2020-11-28 10:26] tommylees112 opened #18 "Finetuning on basins"
Hi guys!  (repeating an email on here - realised that the formatting and links are really helpful, ignore the email!)

I wanted to finetune some models on specific basins.

# What arguments do i need in the configs to finetune?

# 1) `base_run_dir`
I found this information in the docs:
[code]
So I need to specify a new argument: `base_run_dir`

# 2) `finetune_modules`
[basetrainer.py L106-113](htt

[2020-11-29 15:41] gauchm commented on #18
Hi Tommy,
yes, you need to specify a `base_run_dir` (the run you want to finetune) and `finetune_modules`.
By default, finetuning will start with the last saved model from `base_run_dir`. You can change this behavior by specifying a model path in `checkpoint_path`. E.g., if you think your base model was already overfitting, you can use an earlier checkpoint this way.

**`finetune_modules`** expect

[2020-11-30 11:03] kratzert commented on #18
Not much too add besides that we already plan(ned) to add some tutorial(s) to explain stuff like fine-tuning, how to do PUB, how to continue training from checkpoint etc. But those things take time to write and we are quite busy with other stuff, so that might take a bit.

I will close this issue but feel free to re-open if more questions arise.

[2020-11-30 11:03] #18 closed

[2021-01-07 09:25] SebaDro opened #20 "Stable release version"
Hi,

I'm planning to use your great library for my studies on modelling rainfall-runoff. Since there is only a master branch in this repository, I was wondering whether the master branch is stable or also contains some code that is still under development and not yet tested as stable. Maybe, a basic versioning strategy would be very helpful to be able to assess the reliability of certain features.

[2021-01-07 15:12] kratzert commented on #20
Hi @SebaDro,

you are right, that there exists only a master branch in this repository. The reason is that the research and development is happening in a different, private repository. From there, we push updates to this public repository. For obvious reasons, we can't have all of our research code on a public repository before the results are somehow published. That is the reason for this two spl

[2021-01-07 16:54] SebaDro commented on #20
Hey @kratzert, thanks for your prompt reply.

Great to hear, that the library is still under active development. I understand, that publishing your research code, which may have not been reviewed so far, could be counterproductive to your research efforts. So the two split seems reasonable. Nevertheless, I'm looking forward to the new features in the next release.

I noticed the version hints with

[2021-01-12 14:23] kratzert commented on #20
That sounds interesting. Looking forward to read more on that.

If you have any other suggestion for usability of this library, let me know. Feedback is always highly welcomed. I will close this issue for now but feel free to reopen.

[2021-01-12 14:23] #20 closed

[2021-03-11 08:51] tommylees112 opened #28 "Issue with `neuralhydrology.evaluation.signatures.calculate_signatures` for stream elasticity"
[code]

I think this problem is potentially a result of the time coordinate being labelled as `"time"` without `date` or `index` in the string? Is that possible?

[code]

[2021-03-11 09:39] tommylees112 commented on #28
happy to provide a reproducible example if you need more information!

[2021-03-11 10:36] gauchm commented on #28
Hi Tommy,
I believe the reason for the exception is that your xarray dataset has coordinates `[station_id, time]` (in that order). `stream_elas` then tries to rename the first coordinate ('station_id') to 'time'. This fails, because there already exists a coordinate called 'time'.

As a quick fix (I haven't tried this), you could probably drop the 'station_id' coordinate after selecting the right

[2021-03-25 19:06] NHoose opened #30 "`datautils.utils.infer_frequency`: `pd.infer_freq()` may produce result which `pd.to_timedelta()` can't handle"
Hi all,
I'm trying to use you library with a dataset of my own but encountered the following error:
[code]
I'm pretty certain i found the problem:
`pd.infer_freq()` may produces results, that are not recognized by `pd.to_timedelta()` even after adding a leading '1'.
In my case i use a dataset with a 'W-MON' frequency, which is recognized as such by `pd.infer_freq()`. It then correctly gets changed

[2021-03-26 17:01] NHoose commented on #30
To add to this:
Simply changing '1W-MON' to '1W' doesn't really help either as pandas interprets '1W' as being '1W-SUN' and not '7D'. This generates issues down the road, for example in `BaseDataset._load_or_create_xarray_dataset()`:
[code]
`full_range` now is in '1W' aka '1W-SUN' freq which results in an index not matching the original 'W-MON' index and therefore a df with only 'NaN'.

Using a 'W

[2021-03-26 19:15] gauchm commented on #30
Hi,
this is actually quite a tricky problem, and worse than I initially thought. As you say, `infer_freq` can produce frequency strings that `to_timedelta` does not understand (see also pandas-dev/pandas#14398, pandas-dev/pandas#36769).
For `W-MON`, I'd say this is more a bug than a feature (I think a week could safely be interpreted as 7 days, no matter the weekday anchor). But for months, years,

[2021-03-27 22:13] NHoose commented on #30
Hey Martin,

Thanks for the quick response and fix!
Your solution seems to work for the most part and the model trains just fine, however once validation starts, i encounter the following error:
[code]

I will look into this myself, but i thought i'll let you know asap as you know your code way better than i do.
If it helps, here are the current states of the relevant variables:
[code]
[code]
[cod

[2021-03-28 14:50] gauchm commented on #30
Hm, weird -- I'm not getting that error. Maybe something about different numpy or pandas versions. Doesn't matter though, because the calculation of the datetime index wasn't good anyways (wasn't vectorized and therefore slow).

I just pushed an update to the `fix-frequencies` branch that uses a different logic to calculate the datetime index. It appears to work for the base cases (single-frequenc

[2021-03-29 10:19] NHoose commented on #30
Everything seems to work great now, thanks a lot!

[2021-03-30 14:15] SebaDro opened #33 "Loss NaN during training"
Hi guys,

by training on the CAMELS-GB dataset I ran into an issue that similary has been mentioned in #8. After some epoches, loss is calculated as NaN and training stops with an error:
[code]
I used [this config file](https://gist.github.com/SebaDro/3dec8700f00eec7710fbe46e60cc87e3) and [this basin list](https://gist.github.com/SebaDro/2e92af7b8e753cf0343d319398c240f6) for training.

I know, som

[2021-03-31 11:54] kratzert commented on #33
Hi @SebaDro,

the NaNs in `discharge_spec` of the training period should not be the problem, since those samples are excluded from the loss computation. We also check for NaNs in the dynamic and static inputs.
Also, the fact that this happened only after a few epochs (i.e. all samples have been used multiple times) means that this should not be a data issue. Otherwise it would have happened the fi

[2021-03-31 13:46] SebaDro commented on #33
Thanks @kratzert for replying.

Absolutely, I had the same thoughts and wondered about the stop after a few succesfully finished epoches.

For different runs, the error raised differently. Sometimes during 3. epoche and another time after 6. epoche.

Here is the [output.log](https://gist.github.com/SebaDro/a4c861cf9cef00257869a138b286c00d). I also uploaded the whole [training folder](https://hs-bo

[2021-03-31 17:15] SebaDro commented on #33
Oh wow, that's great. Lowering the three learning rates by factor 10 seems to did the trick. Up to now, no failure after 10 epoches of training. I'll give you a final feedback if training has been succesfull over the complete number of epoches.

[2021-04-01 06:39] SebaDro commented on #33
As @kratzert mentioned in https://github.com/neuralhydrology/neuralhydrology/issues/33#issuecomment-811126457, loss increased very fast after a few epochs due to the amount of data in CAMELS-GB and the high learning rate. A small adjustment to the learning rates could fix the problem. Below you will find the configuration that worked for me:
[code]
Feel free to close this issue since it has been s

[2021-04-01 07:51] kratzert commented on #33
Happy that did do the trick

[2021-04-01 07:51] #33 closed

[2021-04-07 11:43] gauchm commented on #30
(Reopening, since GitHub auto-closing was a bit too eager to close it just yet. The fix will land with our next code update though, which should happen very soon.)

[2021-04-07 15:17] #30 closed

[2021-04-19 13:26] rtaormina opened #36 "Which version of pytorch is requried for neuralhydrology?"
Hey there,

Can you please telle me which version of PyTorch does NeuralHydrology works best with?

Thanks.

Cheers,
Riccardo

[2021-04-26 06:29] kratzert commented on #36
Hi @rtaormina,
sorry for the late reply. I am not sure, what is the lowest version of PyTorch that works. Until recently I used v1.6 and last week I updated to v1.8. Both work fine.

We provide some conda environment files in the `environments` folder. If you install a Anaconda environment from one of those, you get the most recent version of PyTorch, which should work fine.

Best,
Freddy

[2021-04-26 06:41] gauchm commented on #36
Just to fill the gap, although it's probably clear -- v1.7 also works fine from my experience. Unfortunately, I can't say anything about earlier PyTorch versions, either.

[2021-04-26 09:59] rtaormina commented on #36
Thanks, much appreciated.

I will let you know in case we end up using different versions and neuralhydrology still works.

Very best,
Riccardo

[2021-04-26 09:59] #36 closed

[2021-05-10 13:31] kratzert commented on #28
Closed due to inactivity. @tommylees112 feel free to reopen if this issue is still not solved for you

[2021-05-10 13:31] #28 closed

[2021-05-18 18:27] seugeni opened #40 "Issue with start_run() when running 01-Introduction.ipynb tutorial"
Hi,

I installed the neuralhydrology package and the cpu environment in anaconda (conda 4.10.1) on a Windows 10 OS.

I ran: `start_run(config_file=Path("1_basin_SE.yml"))` in the Jupyter notebook gives the below output/error once the training begins. It seems that it locates the configuration file, but cannot find the subprocess.py file in the environment. It looks like a path issue, any advice?

[2021-05-18 22:14] kratzert commented on #40
Hi @seugeni,

is it possible that you do not have Git installed on this machine? I think this is causing the error, since we our logger uses Git to retrieve the commit hash of the current version.

However, there should be an easy fix for it, which we will push tomorrow. Would be great, if you can test it then.

[2021-05-18 23:13] seugeni commented on #40
Hi @kratzert,

Thanks for your quick response - you're right, I don't currently have Git installed on my machine. I'd be happy to test the update tomorrow & report back.

If just installing Git on my machine will fix it, I can give that a try as well.

[2021-05-19 13:59] #40 closed

[2021-05-19 23:02] seugeni commented on #40
Hi @kratzert,

Everything runs great now! Thanks for resolving the issue so quickly - I'm looking forward to exploring the neuralhydrology package further.

[2021-06-22 15:51] AgroMet opened #43 "GPU"
torch.cuda.is_available()
True

But running with cuda:0:
Found GPU%d %s which is of cuda capability %d.%d.
PyTorch no longer supports this GPU because it is too old.
The minimum cuda capability supported by this library is %d.%d.

GPU info:
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.51.06    Driver Version: 450.51.06    CUDA Version: 11.0     |

[2021-06-23 06:49] gauchm commented on #43
Hi,
unfortunately, your K20m GPU is too old to be supported by recent versions of PyTorch. The K20 has a [CUDA capability of 3.5](https://www.techpowerup.com/gpu-specs/tesla-k20m.c2029), and (I think) the support for that [was dropped with PyTorch 1.3.1](https://github.com/pytorch/pytorch/issues/30532).
If you have access to a more recent GPU, that would certainly be the easiest solution. Otherwis

[2021-06-28 06:20] #43 closed

[2021-09-06 02:43] Meelisha opened #48 "Finetuning using pre-trained models"
Hello!

I am following the tutorial on training and finetuning the models. I was wondering if it was possible to finetune the  <html> <a href = "https://www.hydroshare.org/resource/83ea5312635e44dc824eeb99eda12f06/" target = "_self">pre-trained models</a></html>? Training the model prior to finetuning with number of epochs takes fairly long time. So, can we simply finetune the pre-trained models b

[2021-09-07 17:53] kratzert commented on #48
Hi @Meelisha

The runs that you are referring to were trained with a different (old and depricated) codebase, which you can find here [https://github.com/kratzert/ealstm_regional_modeling](https://github.com/kratzert/ealstm_regional_modeling).
That said, the models/weights from these files are not straight-forward to fine-tune with this Python package (i.e. neuralHydrology). Since the architecture

[2021-09-14 19:38] vlahm opened #49 "`clip_targets_to_zero` ignored when saving model results"
Hello @kratzert. In `BaseTester.evaluate`, the clipping of negative predictions to zero, i.e.

[code]
is performed on a subset of `results`, and is therefore not reflected in the dictionary (e.g. `test_results.p`) saved by `self._save_results(results, epoch)`. If this is intentional, can you help me understand?

Thank you,
Mike

[2021-09-15 11:57] kratzert commented on #49
Hi @vlahm,

thanks for your question. You are indeed correct, that this is intentional (but that doesn't it is the best thing to do :grimacing:).

We did this, because we wanted to store the raw model outputs, so that you can do whatever different post-processing you want, without re-running the evaluation. Note: The argument `clip_targets_to_zero` is only used when computing metrics and not e.g.

[2021-09-15 11:57] kratzert commented on #48
Closed due to inactivity. Feel free to re-open if you have any code questions.

[2021-09-15 11:57] #48 closed

[2021-09-15 20:40] gauchm commented on #49
I can see that this behavior might be surprising, but I would keep the logic as it is, storing the raw results rather than clipped values. My main reason is that it's easy to clip the values again if needed, but impossible to retrieve the raw predictions once they are clipped.

Like @kratzert says, it may also be a use-case to calculate clipped metrics during validation but then use non-clipped ra

[2021-09-17 03:20] vlahm commented on #49
I agree that the flexibility of this logic is worth keeping, and that making it more explicit in the docs would clear up any confusion. Thanks for your answers!

[2021-09-17 12:58] kratzert commented on #49
Okay, happy we could clear the confusion. I will update the docs and we will push it online with the next update we release here in the public repository.

[2021-09-17 15:28] #49 closed

[2021-09-21 18:25] Meelisha commented on #48
Hi @kratzert !

I did go ahead with fine-tuning using pre-trained MTS-LSTM models https://zenodo.org/record/4670268#.YUoR0OySk2w. However, I am encountering error while loading the pickle file for validation_results.p. Is this something to do with version clash of pandas or xarray?

<img width="756" alt="scrshot of error_pandasIndexError" src="https://user-images.githubusercontent.com/74059522/134

[2021-09-24 08:22] kratzert commented on #48
Hmm yeah, that is a problem with the pickle version. There are at times problems with opening a pickle file that was stored with an old pickle version. I'll check with @gauchm (who is busy at the moment and might take a while to respond), which version he had installed. You could then downgrade to that version and it should work. We also opened an internal issue to get entirely rid of pickle to av

[2021-09-25 14:51] Meelisha commented on #48
I looked up the version for pickle and they were same. But I went forward with installing xarray version used in the above mentioned environment. It works but there is definite version clash and while trying to load files created using newer versions give the same error. I created different environments so that I could load the validation results generated by using recent versions. Thank you for y

[2021-11-05 16:40] vlahm opened #51 "Validation loss?"
Hello. I'd like to plot validation loss alongside training loss, so that I can see if there's a divergence indicative of an unrepresentative training/val set. I can't find a way to extract the validation loss from the model output.

[2021-11-07 11:53] kratzert commented on #51
Hi @vlahm

there are multiple ways, how you can look at the validation metrics.

1) They are logged automatically in TensorBoard, if you set `log_tensorboard: True` in the config. This will create a tensorboard log-file that you can a) view using `tensorboard --logdir /path/to/rundir` and b) use to extract all data in e.g. a Jupyter Notebook manually.
2) Setting `save_validation_results: True` in

[2021-11-08 18:12] vlahm commented on #51
Thanks @kratzert. I've set both of those config parameters, and I see the relevant validation _metrics_, but I'm not seeing validation loss. If `loss` and `metrics` are set to the same function, they can be directly compared, but aren't `loss` and `metrics` computed independently during validation?

[2021-11-09 11:57] kratzert commented on #51
I see, actually, we never compute the validation _loss_. I think there are two reasons for it:

1. We were actually never interested in it, but rather in the hydrological metrics. For example the `NSELoss` is just a adapted version of the NSE that allows us to use something similar to the NSE for model training with random mini-batches.
2. The _metrics_ during validation are computed slightly diff

[2021-11-11 20:16] vlahm commented on #51
This makes sense. Given that the validation loss would necessarily be a different quantity than the training loss, comparing them directly doesn't feel as necessary. Still, it can sometimes be helpful to make diagnostic decisions based on relative magnitudes and/or slopes of these losses. I imagine that would hold even if validation loss was computed as an average of averages, though there would c

[2021-12-01 12:16] #51 closed

[2021-12-01 12:17] kratzert commented on #51
Hi @vlahm, can you check if this works for you now and report feedback?

[2021-12-16 23:20] vlahm commented on #51
@kratzert brilliant! This is just what I was looking for. Many thanks!

[2021-12-27 23:56] Flash-Of-Thunder opened #56 "Error when building netcdf with netcdf4 for input into genericdataset"
Hello I actually found a work around but wanted to put this out there 1) as a curiosity and 2) incase anyone else came across the same issue. I was trying to run NH with some generic data using the genericdataset function but kept getting something similar to:

TypeError: cannot do slice indexing on RangeIndex with these indexers [1999-09-30 23:59:59.999999636] of type Timestamp

So then I created

[2022-01-05 14:24] kratzert commented on #56
Hi @Flash-Of-Thunder

not really sure what is happening here and from what you provide it is really hard to test. My guess is that the problem is the time index (which probably should be 00:00:0000000 instead of 23:59:59.999999636) and that this is causing the problems. When you recreate the netCDF, you create a date-range with `freq='D'`, which will result in cleaner date time indices, which migh

[2022-01-05 14:24] #56 closed

[2022-01-05 19:33] Flash-Of-Thunder commented on #56
I think you are correct here, this was my thought after working with the models and data more. I was going to try and rerun my old code that used netcdf4 with `freq='D'` to test this but accidently saved over my old netcdf4 code.

As for the lack of information in the post, I was trying to avoid making a massive post, but I see now that having too little detail is even worse.

Thanks!

[2022-01-14 13:31] Meelisha opened #65 "Pre-training on CAMELS dataset and finetuning with generic dataset"
Hi there!

I have trained a model with generic dataset which worked pretty well. But, the dataset has very few number of basins, so I wanted to finetune a model with this generic dataset and initialize with weights from pre-trained model with 531 basins of the CAMELS dataset. However, I am encountering an error that says:

KeyError: "None of [Index(['dayl', 'prcp', 'srad', 'tmax', 'tmin', 'vp', 'Q

[2022-01-17 22:37] Meelisha commented on #65
So I tried to change the variable names from above to [dayl(s) prcp(mm/day) srad(W/m2) swe(mm) tmax(C) tmin(C) vp(Pa)]. However, due to netcdf's naming convention limitations, I couldn't use "/" in the variable name of a netcdf. So, I only changed the rest of the variables that didn't have "/" and it gave the following error:

KeyError: "['prcp', 'srad', 'QObs'] not in index"

Do we have to change

[2022-01-18 19:27] Meelisha commented on #65
Hi @kratzert !

Thank you for your reply. I apologize for the lack of problem description. I have attached a zip file that contains config file for pre-training, a netcdf file containing forcings data and discharge observation as well as the config file for finetuning.

For pre-training:
Data used: CAMELS dataset
Forcings dataset: daymet
dynamic input: all except SWE
static input: elevation, slope

[2022-01-20 11:14] gauchm commented on #65
Hi @Meelisha,
Thanks for providing more details. As @kratzert said, `/` is not allowed in netCDF, so there's nothing we can do on this end.

If you change the names of input variables from pretraining to finetuning, you'll need to update the names in the finetuning config (as you already did), but you'll also have to update the names in the scaler file (`train_data/train_data_scaler.yml` in the pr

[2022-01-20 22:34] Meelisha commented on #65
Thank you @gauchm !!!

This was very helpful. I will definitely post all the details, if I encounter any more exceptions. Thank you for the suggestion.

[2022-01-20 22:34] #65 closed

[2022-01-28 04:52] jhamman opened #66 "Publish releases on PyPI"
The current documentation for this package directs users to install this package from source, i.e.:

[code]

For ease of use and to better enable reproducible research, I think it would be valuable to also support installing neuralhydrology from PyPI and/or Conda-Forge.

xref: https://github.com/openjournals/joss-reviews/issues/4050

[2022-01-28 18:45] kratzert commented on #66
Hi @jhamman

I agree that we should support installation from PyPI (and Conda-Forge). I think we had this in mind initially but wanted to do this only when hitting the first major version. When we eventually reached that I had long forgotten about this. But great suggestion and I'll see what is required for this process and how to automate it.

[2022-01-28 20:06] jhamman commented on #66
👍 , FWIW, I find [Dask's release procedure](https://github.com/dask/dask/blob/main/docs/release-procedure.md) to be the right level of complexity for most projects. If you are looking for a simple way to get started, it's where I would start.

[2022-02-03 03:01] subhashis opened #67 "Problem executing example 4 for MTS-LSTM"
I tried to follow example 04 for MTS-LSTM with the provided instruction. Ran into file loading issue
    219         file_path = file_path[0]
    220     else:
--> 221         raise FileNotFoundError(f'No file for Basin {basin} at {discharge_path}')
    222
    223     return pd.read_csv(file_path, index_col=['date'], parse_dates=['date'])

FileNotFoundError: No file for Basin 01022500 at /../data

[2022-02-03 12:55] gauchm commented on #67
Hi @subhashis,
You have found a small discrepancy between the data on zenodo and the way it is expected by the code:
In Zenodo, the discharge folder is called `usgs-streamflow`, while the code expects `usgs_streamflow` (minus vs. underscore).
We'll push a small fix to NeuralHydrology in the next release so that both folder names are recognized.

In the meantime, you can (a) simply rename the folde

[2022-02-03 23:06] subhashis commented on #67
Thank you @gauchm ! That was helpful.

One other thing i observed with example 04 is that the config file mentions 'daymet' variables and files, but daymet data was not there in the example data. So I commented it out in the .yml file.

[2022-02-03 23:06] #67 closed

[2022-02-04 08:26] gauchm commented on #67
The daymet data used in the tutorial are part of the default CAMELS dataset (they are at a daily resolution).
So if you have downloaded the basic CAMELS dataset as described in the [Quickstart](https://neuralhydrology.readthedocs.io/en/latest/usage/quickstart.html#data) section, you already have the daymet data in the folder `basin_mean_forcing/daymet`.

[2022-02-05 04:49] ammilten opened #68 "Introduction python script difficult to follow"
[Part of JOSS Review: https://github.com/openjournals/joss-reviews/issues/4050]

I'm not a deep learning expert and have only used very simple neural nets in my research. I would like to do more and this library seems very powerful. The authors have put an impressive amount of effort into this. However, I am having trouble getting started.

I'm trying to use the python API but I can't follow the [

[2022-02-05 18:58] kratzert commented on #68
Hi @ammilten

thanks for commenting and providing feedback, much appreciated.

Are you running the notebook locally on your computer? Because the `1_basin.yml` file is in the same folder as the notebook file (see [here](https://github.com/neuralhydrology/neuralhydrology/tree/master/examples/01-Introduction)). I just re-run the notebook on my local machine and had no problem with this section. Can

[2022-02-05 19:53] ammilten commented on #68
I installed the code using the following command from the install page.

`pip install git+https://github.com/neuralhydrology/neuralhydrology.git`

In retrospect I now see that there is a link to the notebook, which I simply missed. Usually when I am going through a new library I don't have time to read all the text and just skip straight to the code. Simply making the link clearer at the top of th

[2022-02-05 19:59] kratzert commented on #68
@ammilten

again thanks for your feedback. We will make sure that we make the whole section about the setup/data set clearer.

Regarding CUDA: absolutely not required, especially for this tutorial. Just switch the [device](https://github.com/neuralhydrology/neuralhydrology/blob/31bd284c4713dce1404818f9416161303c25b436/examples/01-Introduction/1_basin.yml#L20) argument in the `1_basin.yml` config t

[2022-02-05 20:32] ammilten commented on #68
Thank you @kratzert. I have one last comment, and then I'll pause to give you a chance to make some changes to the setup/intro script documentation. At first glance the rest of the code appears to have good documentation and functionality. If we can get to a point where the intro script is easy to execute, then we should be in great shape.

I got a little further on the intro script but having a n

[2022-02-05 20:47] kratzert commented on #68
What you are missing is the streamflow folder (the target data). You only extracted the meteorological time series data, which is the model input, but not the streamflow folder (`usgs_streamflow`).

In general, the [CAMELS US data set class](https://github.com/neuralhydrology/neuralhydrology/blob/master/neuralhydrology/datasetzoo/camelsus.py) looks for the the following folder structure:

[code]

[2022-02-09 21:18] kratzert commented on #68
Hi @ammilten

We pushed an update of the tutorials to this public repository and I hope it will make things easier. If you have time, it  would be awesome to get your feedback.

Specifically, we
- added a new tutorial on [Data Prerequisites](https://neuralhydrology.readthedocs.io/en/latest/tutorials/data-prerequisites.html) that explains in all details which data to download and how to organize th

[2022-02-10 18:14] #68 closed

[2022-02-18 00:43] chuckaustin opened #75 "Trouble running MTS notebook"
[Part of JOSS Review: https://github.com/https://github.com/openjournals/joss-reviews/issues/4050]

I've been going through the examples, and so far haven't run into much trouble. However, I'm getting stuck on Example 4 ("Multi-Timescale Prediction"). When I try to train the model using either nh-run or the python API, the process aborts right before the first epoch.

Copying output below. Have I

[2022-02-18 00:52] chuckaustin opened #76 "Trouble getting code to access GPU"
[Part of JOSS Review: https://github.com/https://github.com/https://github.com/openjournals/joss-reviews/issues/4050]

One other issue is that I noticed that I'm unable to use my GPU (Nvidia Quadro P520) with the library.

I created an environment for neural hydrology on conda using environment_cuda9_2.yml. But when I try to train a model on my GPU I get an error saying pytorch was compiled withou

[2022-02-23 00:36] chuckaustin commented on #75
Hi @gauchm, thanks for your response. I've made it through all the examples now except for the last one (which I have started, but haven't finished yet, as I'm running it on a CPU). The MTS notebook is the only place I get this particular error.

Setting num_workers to 0 made it execute! It also makes most of the other examples run faster on my machine, which I guess is because I'm running it on a

[2022-02-23 19:31] chuckaustin opened #77 "[REQUEST] A bit more detail on generic datasets"
[Part of JOSS Review: https://github.com/https://github.com/https://github.com/https://github.com/openjournals/joss-reviews/issues/4050]

I've enjoyed going through this software as part of its JOSS review, and I am excited to use it in my own research, possibly quite soon.

One final issue I'd like to bring up is a request for more information on generic datasets in Example 3. I know the tutorial

[2022-02-28 20:30] kratzert commented on #77
Hi @chuckaustin

good suggestion. I will make sure that we add a more detailed description on how to work with the GenericDataset in our next update. Also sorry for the late reply, I was on a business trip the last week and hadn't had much time to look at Github.

[2022-02-28 20:35] kratzert commented on #76
Hi @chuckaustin

I only know this problem if a) you installed the CPU version of PyTorch or b) PyTorch has problems detecting your GPU. Since you said you used the cuda 9.2 environment file of our library my only guess is that it has to be (b). As far as I could see from the NVIDIA homepage, your GPU should support this CUDA version. Are you sure you have an updated NVIDIA driver installed? Usuall

[2022-02-28 21:00] kratzert commented on #76
Okay, I had another look at it. From the `conda env export` output you posted in #75  I can see that PyTorch did not install the corresponding cuda version but still the cpu version (see: `pytorch=1.10.2=py3.7_cpu_0`). I am not quite sure why this happens. I tested what happens if I create a conda env from the same environment file on my machine and I get exactly the same. Using the `environment_c

[2022-03-01 19:44] chuckaustin commented on #77
Hi @kratzert, thank you for your explanation, it's much appreciated. You addressed the questions I was curious about. As you said, if the first point at least could be added to the tutorials in the future, I think it would be very helpful for new users.

[2022-03-01 19:44] #77 closed

[2022-03-01 19:46] chuckaustin commented on #76
Hi @kratzert thank you for your suggestion, deleting the environment then creating it using` environment_cuda10_2.yml` got it running on my GPU, which made the training much faster. I did notice that, even on the GPU, training was much faster when I set "num_workers" to 0 instead of 8.

[2022-03-01 19:46] #76 closed

[2022-03-01 19:47] #75 closed

[2022-03-09 03:23] Flash-Of-Thunder opened #80 "config.log is often empty, is this a bug or my own mistake?"
Hello, @kratzert and team,

Hope all is going well (as well as it can be) and the child(ren?) is growing in good health. My sincere well wishes for you and your neighbors in this unsettling time.

Basic question, I want to look at my log at .../runs/.../output.log file but most of the time it is blank. Any idea why this might be happening and how to fix it?

My config file:

[code]

Apologies in a

[2022-03-16 07:04] gauchm commented on #80
Hi @Flash-Of-Thunder,
I have a few ideas but would need some more information to narrow it down:
- "...but most of the time it is blank": Can you specify "most of the time"? Is there any pattern as to when it is/isn't blank?
- How are you executing the config? Via the CLI (e.g., `nh_run train --config-file config.yml`) or via some API call (e..g., `start_run(config_file=Path('config.yml'))`?
- Are

[2022-03-17 21:39] Flash-Of-Thunder commented on #80
`"...but most of the time it is blank": Can you specify "most of the time"? Is there any pattern as to when it is/isn't blank?`
I don't have a great answer at the moment. I can look into it if it'd help. When I first ran on NH I was getting an output log and now for the last couple months they've been blank.

`How are you executing the config? Via the CLI (e.g., nh_run train --config-file config.y

[2022-03-21 19:29] Flash-Of-Thunder commented on #80
As always the NH team delivers unsurpassed service to the community. Much gratitude!

Last I checked my cluster is down for maintenance this week, but I'll test this soon and close the thread once I can confirm.

[2022-03-21 23:57] DavidChoi76 opened #81 "TypeError: can't pickle _thread.lock objects"
**Describe the bug**
I'm trying to test "multi-timescale.ipynb" and got an error "TypeError: can't pickle _thread.lock objects" after running "start_run(config_file=Path("1_basin.yml"))" code.

Do you know how to fix this problem? Thanks.

2022-03-22 08:52:18,010: Logging to D:\ydchoi\neuralhydrology\examples\04-Multi-Timescale\runs\test_run_2203_085218\output.log initialized.
2022-03-22 08:52:18,

[2022-03-22 08:54] kratzert commented on #81
Hi @DavidChoi76

I think this is most likely due to problems with your Anaconda environment and probably similar to #75

Can you a) post the output of `conda env export` and b) create a new environment with the recently added [environment_cuda11_3.yml](https://github.com/neuralhydrology/neuralhydrology/blob/master/environments/environment_cuda11_3.yml) file and then retry?

[2022-03-25 06:14] #80 closed

[2022-04-13 11:29] kratzert commented on #81
Closed due to inactivity. @DavidChoi76 feel free to reopen this issue with updates.

[2022-04-13 11:29] #81 closed

[2022-06-30 05:50] hzhshok opened #90 "How to make Node network and what is the theoretical attention point?"
**Describe the bug**
Very thanks  for your amazing work to share those implementation about LSTM related!

I found that the example is just for one node(basin data just is Discrete data, no relationship), so i am interested if we can make multiple node to be connected for different basins group using current implementation.

From the post i saw the network concept, so i guessed it should be possib

[2022-06-30 07:40] #90 closed

[2022-08-31 07:28] chooron opened #92 "Which kind of input is better for LSTM?"
Hi, I recently encountered some problems when using LSTM to realize rainfall runoff prediction. In general, the input to the LSTM model is [**batch_size, silde_window, feature_dim**], but I also find that [**batch_size, 1, silde_window * feature_dim**] can also make robust forecast, and the model training time is shorter. There is my lstm code.
[code]
From my perspective, [batch_size, 1, silde_win

[2022-09-01 08:33] kratzert commented on #92
Hi,

thanks for the question, even though this is not really the correct place (Issues are meant for code bugs/feature requests, etc.) and the discussion forum or google groups would be a better place for asking such questions.

If I understand correctly and without diving into your code you are asking me on my opinion on whether it is better to use the LSTM in a sequential mode (time step by time

[2022-09-01 08:33] #92 closed

[2022-10-01 21:53] rro2q2 opened #96 "NSE Loss Function"
Hello,

When computing the loss function `_get_loss()` in the MaskedNSELoss class, could you explain why you performed standard deviation over the observations from a particular basin and then applied it to the numerator? From my understanding of calculating std, aren't you computing the square root of the squared error divided by the number of observations?

i.e., sqrt(sum(sq_err) /  N), where N

[2022-10-03 13:02] kratzert commented on #96
Hi @rro2q2

The loss that we are computing is described in https://hess.copernicus.org/articles/23/5089/2019/#section2 in Section 2.3 "Objective function: a smooth-joint NSE", as also indicated in the documentation of the MaskedNSELoss. Did you have a look at it?

This loss is an adapted version to:
a) account for the fact of stochastic mini-batch training and
b) for the fact of random samples fro

[2022-10-04 14:30] rro2q2 commented on #96
Hi @kratzert. Thanks for providing this resource, as this makes things clearer 👍

[2022-10-07 08:53] #96 closed

[2022-11-17 12:40] javierfernandezfidalgo opened #100 "Documentation update"
Hello everyone,

I'm trying to set up the CAMELS US catchment attributes section of the prerequisites notebook but I cannot find the camels_attributes_v2.0.zip file that is needed for the finetuning tutorial.

It seems that the links to the database files provided in the documentation are a bit obsolete now. Could it be possible to update that section and provide a working link to that file?

Than

[2022-11-17 13:55] kratzert commented on #100
Thanks, it seems indeed like NCAR moved the files to a different location. All files, including the attributes can be downloaded from [https://gdex.ucar.edu/dataset/camels.html](https://gdex.ucar.edu/dataset/camels.html). You can also click on "Individual files" and only select the attribute .txt files (make sure to place them in the correct folder as described in the data prerequisite tutorial).

[2022-11-18 16:45] javierfernandezfidalgo commented on #100
Thank you very much for your advice, I got all the tutorial examples up and running.
Keep up the good work!

[2022-11-18 16:45] #100 closed

[2022-11-23 08:03] Flash-Of-Thunder opened #101 "RuntimeError: Loss was NaN for 1 times in a row. Stopped training."
Hello NeuralHydrology team! I was attempting to fit a LSTM to ~800 basins from the gages II dataset and got the following error after 1 epoch. The process to get the data is similar to successful runs using CAMELs basins, but these were selected based on land use characteristics (high agriculture). I have a feeling this is on my side but was wondering if this error code suggests any specific probl

[2022-11-23 08:45] gauchm commented on #101
Hi @Flash-Of-Thunder,
Could you please share the .yml config file you used for training? From your description we can't tell what's wrong. One guess would be that the learning rate might just be too high, but again, at this point I'm just guessing.

[2022-11-23 09:02] Flash-Of-Thunder commented on #101
Here is the yml file that produced the error, I reran it without agricultural land dynamic inputs and it has been running fine so far (5 epochs)

[code]

[2022-11-23 09:11] gauchm commented on #101
`1e-2` is a relatively large initial learning rate for Adam, especially given that you seem to have quite a lot of samples. I'd suggest you try running the experiment starting with `1e-3` (the Adam default) or even less and see if that helps.

You might also want to take a look at the loss curves in tensorboard. If they are very spiky, that's another indication that the learning rate is too high.

[2022-11-23 09:19] Flash-Of-Thunder commented on #101
Excellent, I'll try this. Any links or resources you'd recommend on accessing the loss curves in tensorboard?

[2022-11-23 09:36] gauchm commented on #101
It's quite simple: you probably have tensorboard installed already (otherwise, run `pip install tensorboard`). Since your config has `log_tensorboard: True`, we log certain metrics to a file called something like `events.out.tfevents...`.

Just execute `tensorboard --logdir <path/to/run/>`, which prints a URL where you can follow along with the visualizations of the stuff that we log while trainin

[2022-11-26 05:38] Flash-Of-Thunder commented on #101
Thanks Martin! Lowering the learning rate solved the problem, 350+ epochs with no error. I'll explore these runs with the tensorboard log after the simulations are done.

[2022-11-26 05:38] #101 closed